.DealUpdateAddressContainer {
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;

    .DealUpdateAddressZoneContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .DealUpdateAddressZoneWrapper {
            display: flex;
            flex-direction: row;

            .DealUpdateAddressZoneTitle {
                font-weight: 500;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .DealUpdateAddressZoneValue {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #716F6F;
                padding-left: 15px;
                border-radius: 5px;
                padding-right: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }


    .DealUpdateAddressButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .DealUpdateAddressSectionContainer {
        display: flex;
        flex-direction: column;

        .DealUpdateAddressSectionTitleContainer {
            margin-left: 35px;
            margin-bottom: -10px;

            .DealUpdateAddressSectionTitle {
                font-weight: 600;
            }
        }


        .DealUpdateAddressSectionAddressContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .DealUpdateAddressSectionAddressWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 15px;

                .DealUpdateAddressSectionAddressNoAddress{
                    margin-left: 35px;
                }


                .DealUpdateAddressSectionAddressTiteWrapper {
                    border: 1px solid black;
                    padding: 5px;
                    margin-left: 35px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    border-radius: 5px;


                    .DealUpdateAddressSectionAddressTiteOne {
                        background-color: #c4c4c4;
                        padding-bottom: 5px;
                        padding-left: 8px;
                        padding-right: 8px;
                        padding-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        border-radius: 5px;
                    }

                    .DealUpdateAddressSectionAddressTiteTwo {
                        max-width: 420px;
                        min-width: 420px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-left: 10px;

                    }

                    .DealUpdateAddressSectionAddressTiteThreeExx{
                        opacity: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                    }

                    .DealUpdateAddressSectionAddressTiteThree {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                }

                .DealUpdateAddressSectionAddressTiteIcon {
                    margin-left: 10px;
                    cursor: pointer;
                    
                }

            }

        }

        .DealUpdateAddressSectionContainerTwo {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .DealUpdateAddressSectionTitleContainerTwo {
                margin-left: 35px;
                
    
                .DealUpdateAddressSectionTitleTwo {
                    font-weight: 600;
                }

            }

            .DealUpdateAddressSectionAddressContainerTwoSec {
                display: flex;
                flex-direction: row;
                 width: 100%;
                
                 

                 .DealUpdateAddressSectionAddressTiteIconClear{
                     padding:5px 10px;
                     cursor:pointer;
                     margin-top: 5px;
                 }

                .DealUpdateAddressSectionAddressTiteWrapperTwo {
                    border: 1px solid black;
                    padding: 5px;
                    margin-left: 35px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    border-radius: 5px;


                    .DealUpdateAddressSectionAddressTiteOneTwo {
                        background-color: #c4c4c4;
                        padding-bottom: 5px;
                        padding-left: 8px;
                        padding-right: 8px;
                        padding-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        border-radius: 5px;
                    }

                    .DealUpdateAddressSectionAddressTiteTwoTwo {
                        max-width: 460px;
                        min-width: 460px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-left: 10px;

                    }

                    .DealUpdateAddressSectionAddressTiteThreeTwo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                    }
                }
            }

        }
    }
}