.ProductContainerIndex{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;    
    background-color: inherit;
  
    background-color: #E5E5E5 !important;

    .MuiAutocomplete-input{
        color: black !important;
      }
    
}