.VitaranAvsarGraphgraphWrapper{
    background-color: white;
        padding:15px;


        .VitaranAvsarGraphgraphTitle{
            font-weight: 700;
            margin-left: 20px;
        }

              .VitaranAvsarGraphgraphContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: #F0F0F0;
            margin-left: 55px;
            margin-right: 85px;
          
           


            .VitaranAvsarGraphGraph{
                background-color: white;
            }
        }
        

      
}