.TableContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    


    .my-custom-scrollbar{
        overflow: auto;
        
    }

    .lal{
        padding:7px;
        padding-left: 14px;
        padding-right:14px; 
        border:2px solid #DC1D13;
        outline:none;
        background-color: white;
        color:#DC1D13;
        border-radius: 5px;

        &:hover{
            background-color: red;
            color:white;
            border:none;
            border:2px solid #DC1D13;
        }
    }
}       