.userCardWrapper {
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.75);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;

   .one{
       flex:1;

   }
   .two{
      margin-top: 70px;

      .user{
          display: flex;
          flex-direction: row;

        .title{
            flex:1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            

            .titleUser{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
                color:black;
                font-weight: 700;
                margin-right: 60px;
                margin-left: 10px;
            }
            
        }
        .value{
            flex:1;
            display: flex;
           align-items: center;
        }
      }
      .userUsageWrapper{
          padding:10px;
          background-color: #F0F0F0;
          display: flex;
          flex-direction: column;

          .UsageOne{
              display: flex;
              flex-direction: column;
              width: 100%;

              .usageTitle{
                  font-weight: 700;
                  width: 100%;
              }

              .WeekWrapper{
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                 

                  .Weeklist{
                      flex:1;
                      display: flex;
                      flex-direction: column;
                      border: 2px solid gray;
                      margin-left: 10px;
                      border-radius: 5px;
                      

                      .weekTitle{
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          padding:5px;
                      }

                      .weekValue{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #C4C4C4;
                        width:100%;
                        height:100%;
                       margin-bottom: 0px;
                       padding:5px;
                       border-radius: 5px;
                    }

                    .weekLatestTitle{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding:5px;
                    }

                    .weekLatestValue{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #053E5E;
                        color:white;
                        width:100%;
                        height:100%;
                       margin-bottom: 0px;
                       padding:5px;
                       border-radius: 5px;
                    }


                  }
              }
          }

          .UsageTwo{
              width: 100%;
              


            .dropDown{
                margin-top:40px;
                display: flex;
                flex-direction: row;

                .DealdropTitle{
                    flex:1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    min-height: 100px;
                }
                .DealdropValue{
                    flex:1;
                    font-size: 12px;
                }
            }

            .dropDetails{
                margin-top: 15px;

                .dropWrapper{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                   
  
                    .droplist{
                        flex:1;
                        display: flex;
                        flex-direction: column;
                        border: 2px solid gray;
                        margin-left: 10px;
                        border-radius: 5px;
                        
  
                        .dropTitle{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding:5px;
                            font-size: 14px;
                        }

                        .DealdropTitleV{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                           padding-left: 10px;
                            font-size: 12px;
                            font-weight: 520;
                        }
  
                        .DealdropValue{
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: #C4C4C4;
                          width:100%;
                          height:100%;
                         margin-bottom: 0px;
                         padding:5px;
                         border-radius: 5px;
                         margin-top: 5px;
                         font-size: 12px;
                      }
  
                      .DealdropValueV{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #C4C4C4;
                        width:100%;
                        height:100%;
                       margin-bottom: 0px;
                       padding:5px;
                       border-radius: 5px;
                       margin-top: 5px;
                    }

                    
  
  
                    }
                }
            }
          }
      }
   }
}